[core]
    excludesfile = ~/.gitignore_global
    pager = delta # see delta section below

[include]
    path = ~/.gitconfig.local

[push]
    default = simple

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[alias]
    # REF: https://coderwall.com/p/8rtfgg/git-alias-to-show-affected-files-in-last-n-commits
    lsch = "!f() { git diff --name-status -r "HEAD~$1"; }; f"
    # REF: https://hackernoon.com/moving-from-beginner-to-slightly-more-advanced-git-with-aliases-89e30a6accf4
    a = add
    b = branch
    c = commit --message
    ca = commit --all --message
    cl = clone
    co = checkout
    d = diff
    f = fetch
    i = init
    o = open # REF: https://github.com/paulirish/git-open ♥
    p = push
    pt = push --tags
    pu = pull
    s = status
    t = tag

[init]
    templatedir = ~/.git-templates

[submodule]
	recurse = true

[pull]
	rebase = false

[difftool]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\" &
    prompt = false

[mergetool]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    prompt = false

[interactive]
    diffFilter = delta --color-only

# REF: https://github.com/dandavison/delta
# Installed and maintained from Homebrew
[delta]
    features = side-by-side line-numbers decorations
    line-numbers = true
    side-by-side = true
    syntax-theme = Nord
