[core]
    excludesfile = /Users/jonasbn/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
[include]
    path = ~/.gitconfig.local
[push]
    default = simple
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    # REF: https://coderwall.com/p/8rtfgg/git-alias-to-show-affected-files-in-last-n-commits
    lsch = "!f() { git diff --name-status -r "HEAD~$1"; }; f"
    # REF: https://hackernoon.com/moving-from-beginner-to-slightly-more-advanced-git-with-aliases-89e30a6accf4
    a = add
    b = branch
    c = commit --message
    ca = commit --all --message
    cl = clone
    co = checkout
    d = diff
    f = fetch
    i = init
    o = open # see: https://github.com/paulirish/git-open ♥
    p = push
    pt = push --tags
    s = status
    t = tag
